.button-row {
    display: flex;
}

.button-row:first-child>button {
    width: 100%;
}

.button-row:last-child>button {
    width: 50%;
}

.button-row>button {
    width: 25%;
    font-size: 2em;
    height: 130px;
    border: 1px solid black;
}

.button-row>button:active {
    background-color: black;
    color: white;
}

.operator-button {
    background-color: orange;
}

.number-button {
    background-color: grey;
}